
local.properties
Code.iml
build/intermediates/lint-cache/sdk-registry.xml/sdk-registry.xml
build/intermediates/lint-cache/maven.google/master-index.xml
build/intermediates/lint-cache/maven.google/com/google/firebase/group-index.xml
build/intermediates/lint-cache/maven.google/com/android/support/test/group-index.xml
build/intermediates/lint-cache/maven.google/com/android/support/test/espresso/group-index.xml
build/intermediates/lint-cache/maven.google/com/android/support/group-index.xml
build/intermediates/lint-cache/maven.google/com/android/support/constraint/group-index.xml
app/src/main/res/layout/kitchen/prompts.xml
app/app.iml
.idea/workspace.xml
.idea/modules.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3_jar.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3_jar.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3_jar.xml
.idea/libraries/Gradle__net_sf_kxml_kxml2_2_3_0_jar.xml
.idea/libraries/Gradle__junit_junit_4_12_jar.xml
.idea/libraries/Gradle__javax_inject_javax_inject_1_jar.xml
.idea/libraries/Gradle__com_sun_mail_android_mail_1_5_5_jar.xml
.idea/libraries/Gradle__com_sun_mail_android_activation_1_5_5_jar.xml
.idea/libraries/Gradle__com_squareup_javawriter_2_1_1_jar.xml
.idea/libraries/Gradle__com_itextpdf_itextg_5_5_10_jar.xml
.idea/libraries/Gradle__com_hrules_horizontalnumberpicker_1_1_1.xml
.idea/libraries/Gradle__com_google_firebase_firebase_measurement_connector_impl_17_0_3.xml
.idea/libraries/Gradle__com_google_firebase_firebase_measurement_connector_17_0_1.xml
.idea/libraries/Gradle__com_google_firebase_firebase_iid_interop_16_0_1.xml
.idea/libraries/Gradle__com_google_firebase_firebase_iid_17_0_3.xml
.idea/libraries/Gradle__com_google_firebase_firebase_database_collection_16_0_1.xml
.idea/libraries/Gradle__com_google_firebase_firebase_database_16_0_5.xml
.idea/libraries/Gradle__com_google_firebase_firebase_core_16_0_5.xml
.idea/libraries/Gradle__com_google_firebase_firebase_common_16_0_4.xml
.idea/libraries/Gradle__com_google_firebase_firebase_auth_interop_16_0_1.xml
.idea/libraries/Gradle__com_google_firebase_firebase_auth_16_0_5.xml
.idea/libraries/Gradle__com_google_firebase_firebase_analytics_impl_16_2_3.xml
.idea/libraries/Gradle__com_google_firebase_firebase_analytics_16_0_5.xml
.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1_jar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_tasks_16_0_1.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_stats_16_0_1.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_base_16_0_4.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_api_16_0_3.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_flags_16_0_1.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_basement_16_1_0.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_base_16_0_1.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_ads_identifier_16_0_0.xml
.idea/libraries/Gradle__com_android_support_test_runner_1_0_2.xml
.idea/libraries/Gradle__com_android_support_test_monitor_1_0_2.xml
.idea/libraries/Gradle__com_android_support_test_espresso_espresso_idling_resource_3_0_2.xml
.idea/libraries/Gradle__com_android_support_test_espresso_espresso_core_3_0_2.xml
.idea/libraries/Gradle__com_android_support_support_vector_drawable_27_1_1.xml
.idea/libraries/Gradle__com_android_support_support_v4_26_1_0.xml
.idea/libraries/Gradle__com_android_support_support_media_compat_26_1_0.xml
.idea/libraries/Gradle__com_android_support_support_fragment_27_1_1.xml
.idea/libraries/Gradle__com_android_support_support_core_utils_27_1_1.xml
.idea/libraries/Gradle__com_android_support_support_core_ui_27_1_1.xml
.idea/libraries/Gradle__com_android_support_support_compat_27_1_1.xml
.idea/libraries/Gradle__com_android_support_support_annotations_27_1_1_jar.xml
.idea/libraries/Gradle__com_android_support_recyclerview_v7_27_1_1.xml
.idea/libraries/Gradle__com_android_support_constraint_constraint_layout_solver_1_1_3_jar.xml
.idea/libraries/Gradle__com_android_support_constraint_constraint_layout_1_1_3.xml
.idea/libraries/Gradle__com_android_support_cardview_v7_27_1_1.xml
.idea/libraries/Gradle__com_android_support_appcompat_v7_27_1_1.xml
.idea/libraries/Gradle__com_android_support_animated_vector_drawable_27_1_1.xml
.idea/libraries/Gradle__android_arch_lifecycle_viewmodel_1_1_0.xml
.idea/libraries/Gradle__android_arch_lifecycle_runtime_1_1_0.xml
.idea/libraries/Gradle__android_arch_lifecycle_livedata_core_1_1_0.xml
.idea/libraries/Gradle__android_arch_lifecycle_common_1_1_0_jar.xml
.idea/libraries/Gradle__android_arch_core_runtime_1_1_0.xml
.idea/libraries/Gradle__android_arch_core_common_1_1_0_jar.xml
.idea/caches/build_file_checksums.ser
.gradle/vcsWorkingDirs/gc.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/4.6/taskHistory/taskHistory.lock
.gradle/4.6/taskHistory/taskHistory.bin
.gradle/4.6/javaCompile/taskJars.bin
.gradle/4.6/javaCompile/taskHistory.bin
.gradle/4.6/javaCompile/javaCompile.lock
.gradle/4.6/javaCompile/jarAnalysis.bin
.gradle/4.6/javaCompile/classAnalysis.bin
.gradle/4.6/fileHashes/resourceHashesCache.bin
.gradle/4.6/fileHashes/fileHashes.lock
.gradle/4.6/fileHashes/fileHashes.bin
.gradle/4.6/fileContent/fileContent.lock
.gradle/4.6/fileChanges/last-build.bin
